$c-white: #ffffff;

$c-gray-100: #f8f9fa;
$c-gray-400: #6c757d;
$c-gray-600: #3c464c;
$c-gray-700: #343a40;

$c-yellow-400: #e9e55d;

$c-blue-100: #d6efeb;
$c-blue-400: #84cfbf;
$c-blue-700: #0090f6;

@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}
