@import '../../sass/colors';
$size: 40px;

.light {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $size;
    height: $size;

    &__source {
        display: block;
        width: $size / 1.25;
        height: $size / 1.25;
        border-radius: $size;
    }
}
