@import '../../sass/colors';

.dice {
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
        margin: 30px;
        font-size: 32px;
        font-weight: 700;

        &:first-child {
            background: $c-yellow-400;
            border-radius: 4px;
            color: $c-gray-700;
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 1px;
            text-align: center;
        }

        &:last-child {
            color: white;
            position: relative;

            &::before {
                z-index: -1;
                position: absolute;
                top: -9px;
                left: -22px;
                content: '';
                width: 0;
                height: 0;
                border-right: 32px solid transparent;
                border-left: 32px solid transparent;
                border-bottom: 48px solid $c-blue-700;
            }
        }
    }
}
