@import '../../sass/colors';
$size: 40px;

.tile {
    display: block;
    width: $size;
    height: $size;
    border: none;
    box-shadow: none;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        background-color: $c-gray-700;
        width: 2px;
        height: 40px;
        top: 0;
        left: 50%;
    }

    &--rotate--0::after,
    &--rotate--180::after {
        transform: rotateZ(45deg);
    }

    &--rotate--90::after,
    &--rotate--270::after {
        transform: rotateZ(135deg);
    }
}
